html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 80%;
}

.frameless-container {
  padding-top: 30px;
  height: 100%;
  width: 100%;
}
.left-panel {
  padding-top: 30px;
  height: 100%;
}

.right-panel {
  height: 100%;
}
.buttons-bar {
  padding: 30px 0 20px 10px;
}

.buttons-bar > .toolbar-section {
  height: 40px;
}

.pane-sm {
  max-width: 500px;
  min-width: 300px;
}

trix-toolbar .trix-button--icon {
  width: 50px;
  height: 30px;
}

trix-toolbar .trix-button-group {
  margin-bottom: 0px;
}

trix-toolbar .trix-button-row {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

trix-editor {
  margin-top: 10px;
  border-style: none;
  font-size: 18px;
  font-family: Helvetica;
  height: 100%;
  padding: 10px 10px 10px 30px;
}

.borderless-input {
  outline: none;
  border: none;
}

.borderless-input:focus {
  border-color: none;
  box-shadow: none;
}
trix-toolbar .trix-button {
  border-bottom: none;
}


trix-toolbar .trix-button-group {
  border: none;
  border-top-color: none;
  border-bottom-color: none;
}

trix-editor:empty:not(:focus)::before {
  color: #ccc;
}

.editor {
  height: calc(79%);
}
::placeholder { /* Most modern browsers support this now. */
  color: #ccc;
}

.bookshelf {
  padding: 20px; 
  height: 100%;
  width: 100%;
}
.book-block {
  height: 150px;
  width: 100px;
  background: #d7d7d7;
  display: inline-block;
}

.empty-bookshelf {
  font-size: 20px;
}

.feature-buttons {
  height: 30px;
  margin-top: 20px;
}

.feature-button {
  float: right;
  margin-right: 20px;
}
#chapter-input {
  height: 45px;
  font-size: 20px;
  font-weight: 700;
  padding-left: 30px;
}